

@media screen and (max-width:750px) {

    .changeWidthOnPhone{
      width: 100%;
      padding: 15px;
    }
  
}

@media screen and (min-width:750px) {

  .changeWidthOnPhone{
    width: 50vw;
  }

}

@media screen and (max-width:750px) {

    .marginDownOnMobile{
      
      margin-bottom: 50px;

    }
  
}

::-webkit-scrollbar {
  display: none;
}